@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Raleway&family=Roboto:wght@100;400;700&display=swap");

:root {
  --white: #efefef;
  --black: #000;
  --silver: #c0c0c0;
  --darkSilver: #71797e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 85vh;
}

.topnav {
  overflow: hidden;
  position: fixed;
  gap: 3rem;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--silver);
}

.topnav a {
  float: left;
  display: block;
  color: var(--white);
  padding: 20px;
  text-decoration: none;
  font-size: 1.5rem;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  background-color: black;
}

.links {
  float: right;
  margin-right: 3%;
}

.topnav a:hover {
  color: white;
}

#home-button i {
  text-decoration: none;
  color: var(--white);
  transition: transform 0.3s ease;
}

#home-button:hover i {
  transform: scale(1.05);
}

.top-left {
  margin-left: 3%;
  letter-spacing: 0.1em;
}

#NGP {
  letter-spacing: 0.2em;
  font-size: 2rem;
  padding-left: 10px;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
}

.links a {
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.15);
}

.title-container {
  position: relative;
}

#title {
  font-size: 44px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  color: var(--black);
  text-shadow: 2px 2px var(--darkSilver);
  letter-spacing: 2px;
  white-space: nowrap;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}

.img-change {
  opacity: 0.5;
  transition: 1.5s linear;
}

@keyframes slideInLeft {
  0% {
    transform: translate(-20px, -20px);
    opacity: 0;
  }
  50% {
    transform: translate(-10px, -10px);
    opacity: 0;
  }
  100% {
    transform: translate(100);
    opacity: 1;
  }
}

#header-img {
  width: 100%;
  position: relative;
}

.shows-container {
  height: 80vh;
  width: 100%;
  position: relative;
}

.slide {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.9s ease;
}

.active {
  display: flex;
  justify-content: center;
}

.slide.active {
  opacity: 1;
}

.img-wrap {
  width: 100vw;
  height: 100vh;
}

.show-title {
  position: absolute;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 30px;
  top: -10px;
}

.show-description {
  position: absolute;
  top: 55px;
  font-style: italic;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 8px;
}

iframe {
  box-shadow: 10px 10px 18px var(--black);
  width: 1000px; 
  height: 600px;
  top: 20%;
  border-radius: 10px;
  object-fit: contain;
  position: absolute;
}

.button-container {
  position: relative;
  top: 50%;
}

.arrow {
  position: absolute;
  background-color: var(--black);
  color: #fff;
  padding: 20px;
  font-size: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.arrow:hover {
  transform: scale(1.15);
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: 2%;
}

.right-arrow {
  right: 2%;
}

.test {
  display: flex;
  width: 100%;
  background-color: red;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

footer {
  padding: 3rem;
  overflow: hidden;
  background-color: var(--darkSilver);
}

.social-media i {
  color: var(--black);
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-media:hover i {
  transform: scale(1.25);
}

.youtube:hover i {
  color: #c4302b;
}

.instagram:hover i {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 25%;
}

.facebook:hover i {
  color: #3b5998;
}

.email:hover i {
  color: #00a2ed;
}

@media screen and (min-width: 751px) and (max-width: 1199px) {
  
  .show-title {
    padding: 10px 30px;
    font-size: 30px;
    top: 10px;
  }
  
  .show-description {
    top: 90px;
    padding: 10px 20px;
  }

  iframe {
    width: 745px;
    height: 500px;
    top: 25%;
  }
  .button-container {
    top: 100%;
  }
  .arrow {
    padding: 15px;
    font-size: 20px;
  }
.left-arrow {
  left: 40%;
}
.right-arrow {
  right: 40%;
}
}

@media screen and (max-width: 750px) {
  #hero-button {
    width: 90px;
    height: 30px;
    font-size: 16px;
  }

  .topnav:hover a {
    transform: none;
  }

  .topnav a:not(:last-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative fixed;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: var(--black);
  }
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }

  .top-left {
    margin-left: 0;
  }

  .links {
    float: none;
    margin: 0;
  }

  .show-title {
    padding: 10px 30px;
    font-size: 30px;
    top: 10px;
  }
  
  .show-description {
    top: 90px;
    padding: 10px 20px;
  }
  iframe {
    width: 500px;
    height: 400px;
    top: 30%;
  }
  .button-container {
    top: 90%;
  }
  .arrow {
    padding: 15px;
    font-size: 20px;
  }
.left-arrow {
  left: 30%;
}
.right-arrow {
  right: 30%;
}
}
